doctype html
html
	head
		title Splash - Contact Popup Widget
	body

		script(src='assets/js/splash.js')
		// Splash Settings
		script.
			splashButtonPosX = 'right'; // left, right
			splashButtonPosY = 'top'; // top, bottom
			splashButtonAnimation = 'scaleIn' // slideInTop, slideInRight, slideInBottom, slideInLeft, scaleIn
			splashFormAnimation = 'scaleIn'; // slideInTop, slideInRight, slideInBottom, slideInLeft, scaleIn, fadeIn, flipInX, flipInY