[data-ripple='true'] {
  position: relative;
  overflow: hidden;
}
[data-ripple='true'] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

.sp-button, .sp-form-button {
  z-index: 50;
  position: fixed;
  right: 30px;
  bottom: 30px;
  outline: 0;
  display: inline-block;
  background: #F22B71;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 15px 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}
.sp-button[data-posY='top'], [data-posY='top'].sp-form-button {
  top: 30px;
  bottom: auto;
}
.sp-button[data-posY='bottom'], [data-posY='bottom'].sp-form-button {
  top: auto;
  bottom: 30px;
}
.sp-button[data-posX='right'], [data-posX='right'].sp-form-button {
  right: 30px;
  left: auto;
}
.sp-button[data-posX='left'], [data-posX='left'].sp-form-button {
  right: auto;
  left: 30px;
}
.sp-button:hover, .sp-form-button:hover {
  background: rgba(242, 43, 113, 0.9);
}
.sp-overlay {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.sp-close {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  padding: 9px 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: 0.3s ease;
  cursor: pointer;
}
.sp-close:before, .sp-close:after {
  content: '';
  display: block;
  background: #F22B71;
  width: 10px;
  height: 2px;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.sp-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.sp-close:after {
  margin: -2px 0 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.sp-form {
  z-index: 110;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background: #FFFFFF;
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
.sp-form[data-animation='slideInTop'] {
  -webkit-animation: 1s slideInTop ease;
          animation: 1s slideInTop ease;
}
.sp-form[data-animation='slideInRight'] {
  -webkit-animation: 1s slideInRight ease;
          animation: 1s slideInRight ease;
}
.sp-form[data-animation='slideInBottom'] {
  -webkit-animation: 1s slideInBottom ease;
          animation: 1s slideInBottom ease;
}
.sp-form[data-animation='slideInBottom'] {
  -webkit-animation: 1s slideInBottom ease;
          animation: 1s slideInBottom ease;
}
.sp-form[data-animation='scaleIn'] {
  -webkit-animation: 1s scaleIn ease;
          animation: 1s scaleIn ease;
}
.sp-form[data-animation='fadeIn'] {
  -webkit-animation: 1s fadeIn ease;
          animation: 1s fadeIn ease;
}
.sp-form[data-animation='flipInY'] {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: 1s flipInY ease;
          animation: 1s flipInY ease;
}
.sp-form[data-animation='flipInX'] {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: 1s flipInX ease;
          animation: 1s flipInX ease;
}
.sp-form.visible {
  display: block;
}
.sp-form-header {
  position: relative;
  background: #F22B71;
  margin: -20px -20px 20px;
  padding: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.sp-form-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px 20px;
}
.sp-form-row:last-child {
  margin: 0 -10px;
}
.sp-form-input, .sp-form-textarea {
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 10px;
  border: 0;
  border-radius: 3px;
  padding: 15px 20px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  line-height: 1;
  transition: 0.3s ease;
}
.sp-form-input::-webkit-input-placeholder, .sp-form-textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: inherit;
  text-transform: uppercase;
}
.sp-form-input::-moz-placeholder, .sp-form-textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: inherit;
  text-transform: uppercase;
}
.sp-form-input:-ms-input-placeholder, .sp-form-textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: inherit;
  text-transform: uppercase;
}
.sp-form-input::placeholder, .sp-form-textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: inherit;
  text-transform: uppercase;
}
.sp-form-input:focus, .sp-form-textarea:focus {
  background: rgba(0, 0, 0, 0.2);
}
.sp-form-textarea {
  min-height: 100px;
}
.sp-form-button {
  position: relative;
  right: auto;
  bottom: auto;
  background: #F22B71;
  width: 100%;
  box-shadow: none;
  margin: 0 10px;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(100);
            transform: scale(100);
    opacity: 0;
  }
}
@-webkit-keyframes slideInTop {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes slideInTop {
  0% {
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate(200%, -50%);
            transform: translate(200%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate(200%, -50%);
            transform: translate(200%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes slideInBottom {
  0% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes slideInBottom {
  0% {
    -webkit-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
            transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(0);
            transform: translate(-50%, -50%) perspective(1000px) rotateX(0);
  }
}
@keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
            transform: translate(-50%, -50%) perspective(1000px) rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateX(0);
            transform: translate(-50%, -50%) perspective(1000px) rotateX(0);
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(-90deg);
            transform: translate(-50%, -50%) perspective(1000px) rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(0);
            transform: translate(-50%, -50%) perspective(1000px) rotateY(0);
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(-90deg);
            transform: translate(-50%, -50%) perspective(1000px) rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) perspective(1000px) rotateY(0);
            transform: translate(-50%, -50%) perspective(1000px) rotateY(0);
  }
}

/*# sourceMappingURL=splash.css.map */